page-about {
    .item-md.item-block .item-inner{
        border: none !important;
    }
    .toolbar-md-dark .toolbar-background-md {
        background: linear-gradient(to right, #73395c, #0a2386);
    }
    .texto{
        border-bottom: solid 1px;
        height: 0px;
    }
}
