page-about {
    .item-md.item-block .item-inner{
        border: none !important;
    }
    .toolbar-md-dark .toolbar-background-md {
        background: linear-gradient(to right, #73395c, #0a2386);
    }
}
