<ion-header>
  <ion-navbar color="dark"> 

    <ion-title>
      Criar Publicação
    </ion-title>

    <ion-buttons end>
      <button ion-button *ngIf="!publicando && postType != 1 && postType != 2" (click)="getUserPosition()">
        PUBLICAR
      </button>
      <button ion-button *ngIf="!publicando && postType == 1" (click)="uploadImage1()">
        PUBLICAR
      </button>
      <button ion-button *ngIf="!publicando && postType == 2" (click)="uploadVideo()">
        PUBLICAR
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-avatar item-start *ngIf="foto_usuario">
      <img [src]="getSrc(foto_usuario)">
    </ion-avatar>
    <h2>{{ nome_usuario }}</h2>
  </ion-item>

  <ion-item>
    <p>{{ checkin }}</p>
          <div style="overflow: hidden; max-height: 700px;" class="img_card" *ngIf="postType == 1">
            <ion-row>
                  <ion-col *ngFor="let imagem of images" style="min-width: 50%">
                    <ion-item *ngIf="images.length > 1"  [style.background-image]="getBackground(imagem)" style="background-size: cover; background-position-y: center; height: 200px; width: 100%; min-width: 45%;" (click)="ampliarImagem(imagem)">
                        <!-- <button ion-buttom item-left clear style="background: transparent;border: none;font-size:  30px;position: absolute;left: 84%;top: 0px;" (click)="excluiImgArray(imagem)">
                          <ion-icon name="md-close-circle"></ion-icon>
                        </button> -->
                    </ion-item>
                    <ion-item *ngIf="images.length <= 1" [style.background-image]="getBackground(imagem)" style="height: 340px; background-size: cover; background-position-y: center; height: 400pv; width: 100%; min-width: 45%;" (click)="ampliarImagem(imagem)">
                        <!-- <button ion-buttom item-left clear style="background: transparent;border: none;font-size:  30px;position: absolute;left: 84%;top: 0px;" (click)="excluiImgArray(imagem)">
                          <ion-icon name="md-close-circle"></ion-icon>
                        </button> -->
                    </ion-item>
                  </ion-col>
                </ion-row>
          </div>
    
    <div *ngIf='postType == 2 && videoId'>
      <div style="width: 100%;height: auto;">
          <video width="100%" height="auto" [autoplay]="true" [muted]="true" controls>
            <source src="{{ videoId }}" type="video/mp4">
          </video>
      </div>
    </div>
    <div *ngIf='postType == 3'>
        <div  *ngIf='linkPost'>
               
            <iframe [src]='sanitizer.bypassSecurityTrustResourceUrl(linkPost)' width="100%" height="350px"  scrolling="NO" frameborder="0"></iframe>
          </div>
      <div style="width: 100%;height: auto;">
          <ion-item style="padding-left: 0px;">
        <ion-input  [(ngModel)]="linkPost" type="text"  (ngModelChange)="cahngeLink();" placeholder="Insira o link" ></ion-input>
      </ion-item>
      </div>
    </div>
    <div *ngIf='postType == 4'>
      <div  *ngIf='youtubeSaneado'>
        <iframe [src]='sanitizer.bypassSecurityTrustResourceUrl(youtubeSaneado)' width="100%" height="auto" frameborder="0"></iframe>
      </div>
      <div style="width: 100%;height: auto;">
        <ion-item>
          <ion-input  [(ngModel)]="linkYoutube" type="text"  (change)="cahngeYoutube()" placeholder="Insira o link do Youtube" ></ion-input>
        </ion-item>
      </div>
    </div>
    

  </ion-item>
  <ion-item>
      <ion-textarea [(ngModel)]="texto" rows="4" placeholder="O que gostaria de informar?" id="textoPost"></ion-textarea>
  </ion-item>
  <ion-list style="margin-top: 50px;">
    <ion-item style="border-bottom: solid 1px #eaeaea;border-top: solid 1px #eaeaea;" (click)="getImages(); setPostType(1);">
      <ion-icon color="secondary" name="images" isActive="true" item-start></ion-icon>
        Imagens
    </ion-item>
    <ion-item style="border-bottom: solid 1px #eaeaea;border-top: solid 1px #eaeaea;" (click)="getVideo(); setPostType(2);">
      <ion-icon color="primary" name="ios-videocam" isActive="true" item-start></ion-icon>
        Video
    </ion-item> 
    <ion-item style="border-bottom: solid 1px #eaeaea;border-top: solid 1px #eaeaea;" (click)="setPostType(3);">
      <ion-icon color="yellow" name="ios-link" isActive="true" item-start></ion-icon>
        Link
    </ion-item>
    <ion-item style="border-bottom: solid 1px #eaeaea;border-top: solid 1px #eaeaea;" (click)="setPostType(4);">
      <ion-icon color="red" name="logo-youtube" isActive="true" item-start></ion-icon>
        Youtube
    </ion-item>
    <ion-item style="border-bottom: solid 1px #eaeaea;" (click)="getPicture(); setPostType(1);">
      <ion-icon color="maroon" name="camera" isActive="true" item-start></ion-icon>
        Foto
    </ion-item>
    <ion-item style="border-bottom: solid 1px #eaeaea;" (click)="checkIn();">
      <ion-icon color="orange" name="pin" isActive="true" item-start></ion-icon>
        Check-in
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  </ion-footer>