page-register {
    .toolbar-md-dark .toolbar-background-md {
        background: linear-gradient(left, rgba(55, 197, 233, 1) 0%, rgba(73, 125, 190, 1) 100%);
    }
    .content-md {
        background-color: #f7f7f7;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-origin: border-box;
        background-clip: border-box;
        background-attachment: fixed;
    }
    .item-md {
        color: #333;
        background-color: transparent;
    }
    .itemContent {
        padding-right: 40px;
    }
   
    .button-temp {
        right: 5%;
        bottom: 5%;
        position: absolute;
        color: #fff;
        font-size: 20px;
    }
    .logo-login {
        margin-top: 25%;
        width: 50%;
    }
    .texto {
        text-align: center;
        color: #fff;
        font-size: 5vw;
        width: 40vw;
        position: absolute;
        bottom: 68%;
        right: calc(50% - 20vw);
    }
    .scroll-content{
        text-align: -webkit-center;
    }
    .button-md{
        border-radius: 10px;
    }
}
