
<ion-header>
</ion-header>


<ion-content padding>
    <div class="pagetabs" id="login">
    <img class="logo-login" src="assets/imgs/logo-inicial.png"><br><br>
    <p class="texto">Rede.Live</p>
    <div class="pagetabs" id="botoes" *ngIf="pageId == 'botoes'">
      <img class="button-facebook" src="assets/imgs/facebook_entrar.png" (click)="login()">
      <img class="button-email" src="assets/imgs/email_entrar.png" (click)="alterarTab('email')">
      <img class="button-cadastro" src="assets/imgs/cadastro_entrar.png" (click)="alterarTab('cadastro')">
    </div>
    
    

    <div class="pagetabs" id="email" *ngIf="pageId == 'email'">
      <ion-list>
        <ion-item>
          <ion-input placeholder="Nome completo" [(ngModel)]="nomeCompleto" style="border-color: black;">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-input placeholder="E-mail" [(ngModel)]="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input placeholder="@NOME DE USUARIO" [(ngModel)]="userName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input placeholder="Senha" [(ngModel)]="senha" type="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked style="color: black;">
            Confirmar senha:
          </ion-label>
          <ion-input placeholder="Senha" [(ngModel)]="senha2" type="password"></ion-input>
        </ion-item>
        <ion-item>
          <button ion-button name="cadastrar" style="width: 100%; height: 100%; height: 35px;" *ngIf="senha == senha2 && senha && senha2" (click)="cadastrar(nomeCompleto, email, userName, senha)">
            Cadastrar
          </button>
        </ion-item>
        <button ion-button icon-start name="back" (click)="alterarTab('botoes')">
          <ion-icon name="arrow-back"></ion-icon>
          Voltar
        </button> 
      </ion-list>

    </div>
      
    <div class="pagetabs" id="cadastro" *ngIf="pageId == 'cadastro'">
      <ion-list>
        <ion-item>
          <ion-input placeholder="@NOME DE USUARIO" type="text" [(ngModel)]="nomeUsuario"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input placeholder="Senha" type="password" [(ngModel)]="senha"></ion-input>
        </ion-item>
        <ion-item>
          <button ion-button name="entrar" (click)="loginEmail(nomeUsuario, senha)" style="width: 100%; height: 35px;">Entrar</button>
        </ion-item>
        <ion-item style="align-content: center">
          <ion-label stacked style="align-content: center; height: 35px;;">Esqueceu seus dados de login? Obtenha ajuda para <br> entrar.</ion-label>
          <br>
          <br>
          <br>
          <ion-label stacked>Não tem uma conta? Cadastre-se</ion-label>
        </ion-item>
        <button ion-button icon-start name="back" (click)="alterarTab('botoes')">
          <ion-icon name="arrow-back"></ion-icon>
          Voltar
        </button> 
      </ion-list>
    </div>
    <!-- <a class="button-temp" (click)="cadastrar('will-kg@hotmail.com', 'Willian Alves', 'https://scontent.xx.fbcdn.net/v/t1.0-1/p50x50/11813515_950106465040645_4723295867195234113_n.jpg?oh=')">
      Teste Registro
    </a> -->

    </div>

</ion-content>