<ion-header>

  <ion-navbar color="dark">

    <ion-title>
      <img class="imageLogoFeed" src="assets/imgs/logo.png">
    </ion-title>

    <ion-buttons end>
      <button id="notification-button" ion-button clear (click)="notificacoes($event)">
        <ion-icon name="notifications">
          <ion-badge *ngIf="notificacoes_qts != 0" id="notifications-badge" color="primary">{{ notificacoes_qts }}</ion-badge>
        </ion-icon>
      </button>
      <button ion-button icon-only (click)="goPerfil()">
        <img class="imageUserFeed" src="assets/imgs/user_round.png">
      </button>
    </ion-buttons>

  </ion-navbar>


  <ion-toolbar class="buttons_header">

    <ion-segment [(ngModel)]="local" color="primary" item-end>
      <ion-segment-button value="orcamentos" (ionSelect)="alterarTab('orcamentos', fab)">
        <p style="margin-top: 2px;">Orçamentos</p>
      </ion-segment-button>
      <ion-segment-button value="clientes" (ionSelect)="alterarTab('clientes', fab)" (click) = "getClientes()">
        <p style="margin-top: 2px;">Clientes</p>
      </ion-segment-button>
      <ion-segment-button value="produtos" (ionSelect)="alterarTab('produtos', fab)" (click) = "getProdutos()">
        <p style="margin-top: 2px;">Produtos</p>
      </ion-segment-button>
      <ion-segment-button value="servicos" (ionSelect)="alterarTab('servicos', fab)" (click) = "getServicos()">
        <p style="margin-top: 2px;">Serviços</p>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div id="orcamentos" class="pagetabs" *ngIf="pageId == 'orcamentos'">
    <h4>Meus Orçamentos</h4>
    <ion-list>
      <ion-item style="color: cornflowerblue;">
        <ion-icon name="md-clock" item-start></ion-icon>
        PENDENTES
        <ion-badge name="rose" item-end>100</ion-badge>
        <ion-icon name="md-play" item-end></ion-icon>
      </ion-item>
      <ion-item style="color: limegreen;">
        <ion-icon name="md-checkmark-circle" item-start></ion-icon>
        APROVADOS
        <ion-badge color="secondary" name="rose" item-end>100</ion-badge>
        <ion-icon name="md-play" item-end></ion-icon>
      </ion-item>
      <ion-item style="color: firebrick;">
        <ion-icon name="md-close-circle" style="color: firebrick;" item-start></ion-icon>
        CANCELADOS
        <ion-badge color="danger" name="rose" item-end>100</ion-badge>
        <ion-icon name="md-play" style="color: firebrick;" item-end></ion-icon>
      </ion-item>
    </ion-list>
  </div>
  <div id="clientes"  class="pagetabs" *ngIf="pageId == 'clientes'">
    <h4>Meus Clientes</h4>
    <ion-item *ngFor = "let item of clientes" style="height: 100px;" (click)="getCliente(item.id, fab)">
        <ion-label id="{{item.id}}" color="primary" stacked>{{item.full_name}}</ion-label>
        <div item-content class="itemContent">
          Tel: {{item.phone}}<br>
          Email: {{item.email}}
        </div>
        <ion-checkbox  *ngIf="habCheck == 1" id="{{item.id}}" name="{{item.id}}" [(ngModel)]="item.value" (ionChange)="selectChecked($event, item.id)"item-end></ion-checkbox>
      <ion-icon *ngIf="habCheck != 1" name="md-play" item-end></ion-icon>
    </ion-item>
</div>

<div id="clientes_o"  class="pagetabs" *ngIf="pageId == 'clientes_o'">
    <h4>Meus Clientes</h4>
    <ion-item *ngFor = "let item of clientes" style="height: 100px;" (click)="usarCliente(item, fab)">
        <ion-label id="{{item.id}}" color="primary" stacked>{{item.full_name}}</ion-label>
        <div item-content class="itemContent">
          Tel: {{item.phone}}<br>
          Email: {{item.email}}
        </div>
        <ion-checkbox  *ngIf="habCheck == 1" id="{{item.id}}" name="{{item.id}}" [(ngModel)]="item.value" (ionChange)="selectChecked($event, item.id)"item-end></ion-checkbox>
      <ion-icon *ngIf="habCheck != 1" name="md-play" item-end></ion-icon>
    </ion-item>
</div>

  <div id="clientes_n" class="pagetabs" *ngIf="pageId == 'clientes_n'">
    <h5>Informações do cliente</h5>
    <ion-list>
      <ion-item>
        <ion-label color="primary" stacked>Nome</ion-label>
        <ion-input type="text" placeholder="Insira o nome completo" [(ngModel)]="nome_cliente" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" stacked>E-mail</ion-label>
        <ion-input type="email" placeholder="Insira o e-mail" [(ngModel)]="email_cliente"></ion-input>
      </ion-item>
      
      <!-- <ion-item>
        <ion-label>Pepperoni</ion-label>
        <ion-checkbox  *ngIf="habCheck == 1" [(ngModel)]="pepperoni"></ion-checkbox>
        <ion-icon name="md-play" item-end></ion-icon>
      </ion-item> -->
    </ion-list>
    <h5>Tipo de usuário</h5>
    <ion-list radio-group [(ngModel)]="tipoPessoa">
      <ion-item>
        <ion-label>Pessoa Física</ion-label>
        <ion-radio value="cpf" checked></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Pessoa Jurídica</ion-label>
        <ion-radio value="cnpj" checked></ion-radio>
      </ion-item>
      </ion-list>
      <ion-list>
            <ion-item *ngIf="tipoPessoa == 'cpf'">
              <ion-label color="primary" stacked>CPF</ion-label>
              <ion-input type="number" placeholder="Insira o CPF" [(ngModel)]="doc"></ion-input>
            </ion-item>
            <ion-item *ngIf="tipoPessoa == 'cnpj'">
              <ion-label color="primary" stacked>CNPJ</ion-label>
              <ion-input type="number" placeholder="Insira o CNPJ" [(ngModel)]="doc" ></ion-input>
            </ion-item>
      </ion-list>
      <h5>Informações do cliente</h5>
      <ion-list>
        <ion-item>
          <ion-label color="primary" stacked>Telefone</ion-label>
          <ion-input type="tel" placeholder="Insira o telefone" [(ngModel)]="tel" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" stacked>Endereço</ion-label>
          <ion-input type="text" placeholder="Insira o endereço" [(ngModel)]="address"></ion-input>
        </ion-item>
    </ion-list>
    <button ion-button icon-end class="btnCadastrar" color="primary"(click)="setCliente(nome_cliente, email_cliente, doc, tel, address, tipoPessoa)">
      Cadastrar Cliente          
      <ion-icon name="md-add" item-end ></ion-icon> 
    </button>
  </div>

  <div id="clientes_m" class="pagetabs" *ngIf="pageId == 'clientes_m'">
    <h5>Informações do cliente</h5>
    <ion-list>
      <ion-item>
        <ion-label color="primary" stacked>Nome</ion-label>
        <ion-input type="text" placeholder="" [(ngModel)]="nome_cliente" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" stacked>E-mail</ion-label>
        <ion-input type="email" placeholder="" [(ngModel)]="email_cliente"></ion-input>
      </ion-item>
      
      <!-- <ion-item>
        <ion-label>Pepperoni</ion-label>
        <ion-checkbox  *ngIf="habCheck == 1" [(ngModel)]="pepperoni"></ion-checkbox>
        <ion-icon name="md-play" item-end></ion-icon>
      </ion-item> -->
    </ion-list>
    <h5>Tipo de usuário</h5>
    <ion-list radio-group [(ngModel)]="tipoPessoa">
      <ion-item>
        <ion-label>Pessoa Física</ion-label>
        <ion-radio value="cpf" checked></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Pessoa Jurídica</ion-label>
        <ion-radio value="cnpj" checked></ion-radio>
      </ion-item>
      </ion-list>
      <ion-list>
            <ion-item *ngIf="tipoPessoa == 'cpf'">
              <ion-label color="primary" stacked>CPF</ion-label>
              <ion-input type="number" placeholder="" [(ngModel)]="doc"></ion-input>
            </ion-item>
            <ion-item *ngIf="tipoPessoa == 'cnpj'">
              <ion-label color="primary" stacked>CNPJ</ion-label>
              <ion-input type="number" placeholder="" [(ngModel)]="doc" ></ion-input>
            </ion-item>
      </ion-list>
      <h5>Informações do cliente</h5>
      <ion-list>
        <ion-item>
          <ion-label color="primary" stacked>Telefone</ion-label>
          <ion-input type="tel" placeholder="" [(ngModel)]="tel" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" stacked>Endereço</ion-label>
          <ion-input type="text" placeholder="" [(ngModel)]="address"></ion-input>
        </ion-item>
    </ion-list>
  
    <button ion-button icon-end class="btnCadastrar" color="primary"(click)="updateCliente(nome_cliente, email_cliente, doc, tel, address, tipoPessoa)">
      Salvar Modificações          
      <ion-icon name="md-add" item-end ></ion-icon> 
    </button>
  </div>

  <div id="produtos"  class="pagetabs" *ngIf="pageId == 'produtos'">
      <h4>Meus Produtos</h4>
      <ion-item *ngFor = "let item of produtos" style="height: 100px;" (click)="getProduto(item.id, fab)">
          <ion-label color="primary" stacked>{{item.name}}</ion-label>
          <div item-content class="itemContent">
            Unidade: {{item.un}}<br>
            Preço por unidade: R$ {{item.price}},00
          </div>
          <ion-checkbox  *ngIf="habCheck == 1" id="{{item.id}}" name="{{item.id}}" [(ngModel)]="item.value" (ionChange)="selectChecked($event, item.id)"item-end></ion-checkbox>
        <ion-icon *ngIf="habCheck != 1" name="md-play" item-end></ion-icon>
      </ion-item>
  </div>

  <div id="produtos_o"  class="pagetabs" *ngIf="pageId == 'produtos_o'">
      <h4>Meus Produtos</h4>
      <ion-item *ngFor = "let item of produtos" style="height: 100px;" (click)="usarProduto(item, fab)">
          <ion-label color="primary" stacked>{{item.name}}</ion-label>
          <div item-content class="itemContent">
            Unidade: {{item.un}}<br>
            Preço por unidade: R$ {{item.price}},00
          </div>
          <ion-checkbox  *ngIf="habCheck == 1" id="{{item.id}}" name="{{item.id}}" [(ngModel)]="item.value" (ionChange)="selectChecked($event, item.id)"item-end></ion-checkbox>
        <ion-icon *ngIf="habCheck != 1" name="md-play" item-end></ion-icon>
      </ion-item>
  </div>

  <div id="produtos_n"  class="pagetabs" *ngIf="pageId == 'produtos_n'">
    <h5>Informações do Produto</h5>
    <ion-list>
      <ion-item>
        <ion-label color="primary" stacked>Nome</ion-label>
        <ion-input type="text" placeholder="Nome do produto" [(ngModel)]="nome_produto"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" stacked>Valor</ion-label>
        <ion-input type="number" placeholder="R$" [(ngModel)]="valor_produto"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" stacked>Quantidade</ion-label>
        <ion-input type="number" placeholder="" [(ngModel)]="quantidade_produto"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" stacked>Unidade</ion-label>
        <ion-input type="text" placeholder="" [(ngModel)]="unidade_produto"></ion-input>
      </ion-item>
    </ion-list>
    <button ion-button icon-end class="btnCadastrar" color="primary" (click)="setProduto(nome_produto, valor_produto, quantidade_produto, unidade_produto)">
        Cadastrar Produto          
        <ion-icon name="md-add" item-end ></ion-icon> 
      </button>
  </div>

  <div id="produtos_m"  class="pagetabs" *ngIf="pageId == 'produtos_m'">
    <h5>Informações do Produto</h5>
    <ion-list>
      <ion-item>
        <ion-label color="primary" stacked>Nome</ion-label>
        <ion-input type="text" placeholder="Nome do produto" [(ngModel)]="nome_produto"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" stacked>Valor</ion-label>
        <ion-input type="number" placeholder="R$" [(ngModel)]="valor_produto"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" stacked>Quantidade</ion-label>
        <ion-input type="number" placeholder="" [(ngModel)]="quantidade_produto"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" stacked>Unidade</ion-label>
        <ion-input type="text" placeholder="" [(ngModel)]="unidade_produto"></ion-input>
      </ion-item>
    </ion-list>
    <button ion-button icon-end class="btnCadastrar" color="primary" (click)="updateProduto(nome_produto, valor_produto, quantidade_produto, unidade_produto)">
        Salvar Alterações          
        <ion-icon name="md-add" item-end ></ion-icon> 
      </button>
  </div>

  

  <div id="servicos"  class="pagetabs" *ngIf="pageId == 'servicos'">
      <h4>Meus Serviços</h4>
      <ion-item *ngFor = "let item of servicos" style="height: 80px;" (click)="getServico(item.id, fab)">
          <ion-label color="primary" stacked>{{item.name}}</ion-label>
          <div item-content class="itemContent">
            Valor: R$ {{item.price}},00
          </div>
          <ion-checkbox  *ngIf="habCheck == 1" id="{{item.id}}" name="{{item.id}}" [(ngModel)]="item.value" (ionChange)="selectChecked($event, item.id)" item-end></ion-checkbox>
        <ion-icon *ngIf="habCheck != 1" name="md-play" item-end></ion-icon>
      </ion-item>
  </div>

  <div id="servicos_o"  class="pagetabs" *ngIf="pageId == 'servicos_o'">
      <h4>Meus Serviços</h4>
      <ion-item *ngFor = "let item of servicos" style="height: 80px;" (click)="usarServico(item, fab)">
          <ion-label color="primary" stacked>{{item.name}}</ion-label>
          <div item-content class="itemContent">
            Valor: R$ {{item.price}},00
          </div>
          <ion-checkbox  *ngIf="habCheck == 1" id="{{item.id}}" name="{{item.id}}" [(ngModel)]="item.value" (ionChange)="selectChecked($event, item.id)" item-end></ion-checkbox>
        <ion-icon *ngIf="habCheck != 1" name="md-play" item-end></ion-icon>
      </ion-item>
  </div>

  <div id="servicos_n"  class="pagetabs" *ngIf="pageId == 'servicos_n'">
    <h5>Informações do Serviço</h5>
    <ion-list>
      <ion-item>
        <ion-label color="primary" stacked>Descrição</ion-label>
        <ion-input type="text" placeholder="Descreva o serviço" [(ngModel)] = "descricao"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" stacked>Valor</ion-label>
        <ion-input type="number" placeholder="R$" [(ngModel)] = "valor_serv"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" stacked>Quantidade</ion-label>
        <ion-input type="number" placeholder="" [(ngModel)] = "quantidade_serv"></ion-input>
      </ion-item>
    </ion-list>
    <button ion-button icon-end full class="btnCadastrar" color="primary" (click) = "setServico(descricao, valor_serv, quantidade_serv)">
      Cadastrar Serviço          
      <ion-icon name="md-add" item-end></ion-icon> 
    </button>
  </div>

  <div id="servicos_m"  class="pagetabs" *ngIf="pageId == 'servicos_m'">
    <h5>Informações do Serviço</h5>
    <ion-list>
      <ion-item>
        <ion-label color="primary" stacked>Descrição</ion-label>
        <ion-input type="text" placeholder="Descreva o serviço" [(ngModel)] = "descricao"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" stacked>Valor</ion-label>
        <ion-input type="number" placeholder="R$" [(ngModel)] = "valor_serv"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" stacked>Quantidade</ion-label>
        <ion-input type="number" placeholder="" [(ngModel)] = "quantidade_serv"></ion-input>
      </ion-item>
    </ion-list>
    <button ion-button icon-end full class="btnCadastrar" color="primary" (click) = "updateServico(descricao, valor_serv, quantidade_serv)">
      Salvar Alterações         
      <ion-icon name="md-add" item-end></ion-icon> 
    </button>
  </div>

  <div id="orcamentos_p"  class="pagetabs" *ngIf="pageId == 'orcamentos_p'">
    <ion-item>
      <ion-label>Pepperoni</ion-label>
      <ion-checkbox  *ngIf="habCheck == 1" [(ngModel)]="pepperoni"></ion-checkbox>
      <ion-icon name="md-play" item-end></ion-icon>
    </ion-item>
  </div>

  <div id="orcamentos_c" class="pagetabs" *ngIf="pageId == 'orcamentos_c'">orcamentos cancelados</div>
  <div id="orcamentos_a" class="pagetabs" *ngIf="pageId == 'orcamentos_a'">orcamentos aprovados</div>
  <!-- Criar orçamento -->
  <div id="orcamentos_n" class="pagetabs" *ngIf="pageId == 'orcamentos_n'">
      <h5>Informações Pessoais</h5>
      <ion-list>
        <ion-item>
          <ion-label color="primary" stacked>Nome</ion-label>
          <ion-input type="text" placeholder="{{ userName }}"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" stacked>Email</ion-label>
          <ion-input type="email" placeholder="{{ userEmail }}"></ion-input>
        </ion-item>
      </ion-list>
      <h5>Informações do Cliente</h5>
      <ion-list  *ngIf="!clienteNome">
        <ion-item (click) = "alterarTab('clientes_o', fab); getClientes();">
          <ion-label color="primary" stacked>Selecionar Cliente</ion-label>
          <ion-icon name="md-play" item-end></ion-icon>
        </ion-item>
        <ion-item (click)="alterarTab('clientes_n', fab)">   <!--//(click)-->
          <ion-label color="primary" stacked>Novo Cliente</ion-label>
          <ion-icon name="md-add" item-end></ion-icon>
        </ion-item>
        <ion-item *ngIf="clienteSelecionado" style="height: 100px;" >
            <ion-label id="{{dados.id}}" color="primary" stacked>{{dados.full_name}}</ion-label>
            <div item-content class="itemContent">
              Tel: {{dados.phone}}<br>
              Email: {{dados.email}}
            </div>
        </ion-item>
      </ion-list>

      <!-- <ion-list  *ngIf="!clienteNome">
        <ion-item>
          <ion-label color="primary" stacked>Nome</ion-label>
          <div item-content>
              {{ clienteNome }}
            </div>
        </ion-item>
        <ion-item>
          <ion-label color="primary" stacked>Documento</ion-label>
          <div item-content>
              {{ clienteDocumento }}
            </div>
        </ion-item>
        <ion-item>
        <ion-label color="primary" stacked>Email</ion-label>
          <div item-content>
            {{ clienteEmail }}
          </div>
        </ion-item>
        <ion-item>
          <ion-label color="primary" stacked>Telefone</ion-label>
            <div item-content>
              {{ clienteTelefone }}
            </div>
        </ion-item>
        <ion-item>
          <ion-label color="primary" stacked>Endereço</ion-label>
          <div item-content>
              <p>
                  {{ clienteEndereco }}
              </p>
            </div>
        </ion-item>
      </ion-list> -->
      <h5>Materiais e Produtos</h5>
      <ion-list>
        <ion-item (click) = "alterarTab('produtos_o', fab); getProdutos()">
          <ion-label color="primary" stacked>Selecionar Produto</ion-label>
          <ion-icon name="md-play" item-end></ion-icon>
        </ion-item>
        <ion-item (click) = "alterarTab('produtos_n', fab)">   <!--//(click)-->
          <ion-label color="primary" stacked>Novo Produto</ion-label>
          <ion-icon name="md-add" item-end></ion-icon>
        </ion-item>
        <div *ngIf="produtoSelecionado">
          <ion-item *ngFor="let item of dadosProduto" style="height: 150px;">
              <ion-label color="primary" stacked>{{item.name}}</ion-label>
              <ion-label color="primary" stacked>Preço por unidade: R$ {{item.price}},00 </ion-label>
              <ion-input type="number" placeholder="Quantidade"></ion-input>
              <ion-label color="primary" stacked>{{item.un}}</ion-label>
          </ion-item>
      </div>
      </ion-list>
      <h5>Mão de obra e Serviços</h5>
      <ion-list>
        <ion-item (click) = "alterarTab('servicos_o', fab); getServicos()">
          <ion-label color="primary" stacked>Selecionar Servico</ion-label>
          <ion-icon name="md-play" item-end></ion-icon>
        </ion-item>
        <ion-item (click) = "alterarTab('produtos_n', fab)">   <!--//(click)-->
          <ion-label color="primary" stacked>Novo Servico</ion-label>
          <ion-icon name="md-add" item-end></ion-icon>
        </ion-item>
        <div *ngIf="servicoSelecionado">
          <ion-item *ngFor="let item of dadosServico" style="height: 150px;">
              <ion-label color="primary" stacked>{{item.name}}</ion-label>
              <ion-label color="primary" stacked>Preço do serviço: R$ {{item.price}},00</ion-label>
            
          </ion-item>
      </div>
      </ion-list>
      <ion-list>
        <h5>Descrição do Serviço</h5>
        <ion-input type="text" placeholder="Descrição geral dos serviços" name="description" [(ngModel)]="description" ></ion-input>
      </ion-list>
      <ion-list>
        <h5>Forma de pagamento</h5>
        <ion-input type="text" placeholder="Ex: 5x no cartão" name="payment" [(ngModel)]="payment" ></ion-input>
      </ion-list>
      <ion-list>
        <h5>Total: R${{total}},00</h5>
        <button ion-button  (click)="setOrcamento(description, payment)">Salvar orçamento</button>
      </ion-list>

      <!-- <ion-list>
        <ion-item>
          <ion-label color="primary" stacked>Nome</ion-label>
          <ion-input type="text" placeholder="Nome do Produto"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" stacked>Quantidade</ion-label>
          <ion-input type="text" placeholder=""></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" stacked>Unidade</ion-label>
          <ion-input type="text" placeholder=""></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" stacked>Valor</ion-label>
          <ion-input type="text" placeholder="Preço por unidade"></ion-input>
        </ion-item>
        <ion-item color="darkBlue">
                Adicionar Produto          
                <ion-icon name="md-add" item-end></ion-icon> 
        </ion-item>
      </ion-list>
      <ion-list> -->
        <!-- <ion-item color="darkBlue">
                Selecionar Produto da Lista         
                <ion-icon name="md-play" item-end></ion-icon> 
        </ion-item>
      </ion-list>
      <ion-list  *ngIf="!clienteNome">
          <ion-item>
            <ion-label color="primary" stacked>Nome</ion-label>
            <div item-content>
                {{ produtoNome }}
              </div>
              <ion-icon name="md-play" item-end></ion-icon> 
          </ion-item>
          <ion-item>
            <ion-label color="primary" stacked>Quantidade</ion-label>
            <div item-content>
                {{ produtoQtd }} {{ produtoUn }}
              </div>
          </ion-item>
          <ion-item>
            <ion-label color="primary" stacked>Valor</ion-label>
              <div item-content>
                {{ produtoValor }}
              </div>
          </ion-item>
        </ion-list> -->
  </div>
</ion-content>
<button color="light" ion-button icon-only name="projetos" (click)="alterarTab('orcamentos_n', fab)">
  <div>
    <div>
      <ion-icon name="md-add-circle"></ion-icon>
    </div>
  </div>
</button>
<ion-footer>
  <ion-toolbar *ngIf="pageId == 'orcamentos' || pageId == 'orcamentos_p' || pageId == 'orcamentos_c'|| pageId == 'orcamentos_a'">
    <button ion-button name="notificações" (click)="alterarTab('orcamentos_p', fab)">
      <div>
        <div>
          <ion-icon name="md-clock"></ion-icon>
        </div>
        <label>PENDENTES</label>
      </div>
    </button>
    <button color="secondary" ion-button name="mensagens" (click)="alterarTab('orcamentos_a', fab);">
      <div>
        <div>
          <ion-icon icon-top name="md-checkmark-circle"></ion-icon>
        </div>
        <label>APROVADOS</label>
      </div>
    </button>
    <button color="danger" ion-button name="projetos" (click)="alterarTab('orcamentos_c', fab)">
      <div>
        <div>
          <ion-icon name="md-close-circle"></ion-icon>
        </div>
        <label>CANCELADOS</label>
      </div>
    </button>
  </ion-toolbar>
  <ion-fab #fab right bottom [ngStyle]="{'bottom': fabBottom}">
      <button ion-fab color="primary"><ion-icon name="arrow-dropleft"></ion-icon></button>
      <ion-fab-list side="left">
        <button  ion-fab *ngIf="pageId == 'orcamentos' || pageId == 'orcamentos_p' || pageId == 'orcamentos_c'|| pageId == 'orcamentos_a'" (click)="alterarTab('orcamentos_n', fab)"><ion-icon name="md-add"></ion-icon></button>
        <button ion-fab *ngIf="pageId == 'clientes' || pageId == 'clientes_n'" (click)="alterarTab('clientes_n', fab)"><ion-icon name="md-add"></ion-icon></button>
        <button ion-fab *ngIf="pageId == 'produtos' || pageId == 'produtos_n'" (click)="alterarTab('produtos_n', fab)"><ion-icon name="md-add"></ion-icon></button>
        <button ion-fab *ngIf="pageId == 'servicos' || pageId == 'servicos_n'" (click)="alterarTab('servicos_n', fab)"><ion-icon name="md-add"></ion-icon></button>
        <button ion-fab (click)="showCheck()"><ion-icon name="md-checkmark"></ion-icon></button>
        <button ion-fab (click)="deleteChecked(pageId)"><ion-icon name="md-trash"></ion-icon></button>
      </ion-fab-list>
    </ion-fab>
</ion-footer>

