page-orcamentos {
    .toolbar-md-dark .toolbar-background-md {
        background: linear-gradient(45deg, rgba(55, 197, 233, 1) 0%, rgba(73, 125, 190, 1) 100%);
    }
    .button-md{
        width: 32%;
        margin: 0px;
    }
    .buttons_header {
        padding: 20px 0 19px 0;
      }
      // IMAGES //
      img.imageLogoFeed {
        height: 50px;
        margin: 0 0 -4px -12px
      }
      img.imageUserFeed {
        height: 32px;
      }
    
      .buttons_header {
        min-height: 0px;
        height: 30px;
      }
      .modal-back-button{
        .back-button{
            display: block !important;
        }
    }
    .pagetabs{
        text-align: center !important;
    }
    .btnCadastrar{
        width: 100% !important;
    }
    // .fab-md{
    //     margin-bottom: 75px !important;
    // }
    // $control-bottom: 40px;
}
