page-produtos {
    .toolbar-md-dark .toolbar-background-md {
        background: linear-gradient(45deg, rgba(55, 197, 233, 1) 0%, rgba(73, 125, 190, 1) 100%);
    }
    .button-md{
        background-repeat: no-repeat;
        background-size: cover;
        width: 250px;
        height: 100px;
        left: 65px;
    }
}
