page-feed {
  hr.vertical {
    background-color: #000;
    width: 1px;
    height: auto;
  }
  .buttons_header {
    padding: 20px 0 19px 0;
  }
  // IMAGES //
  img.imageLogoFeed {
    height: 50px;
    margin: 0 0 -4px -12px
  }
  img.imageUserFeed {
    height: 32px;
  }

  .buttons_header {
    min-height: 0px;
    height: 30px;
  }
  .toolbar .segment-md .segment-button.activated,
  .toolbar .segment-md .segment-button.segment-activated {
    color: #488aff;
  }
  .toolbar-md-dark .toolbar-background-md {
    background: linear-gradient(to right, #73395c, #0a2386);
  }
  .segment-md .segment-button {
    color: #000 !important;
    border: 0;
  }
  .segment-md .segment-button.segment-activated {
    color: #00a2e8 !important;
    border: 0;
  }
  .texto-excluir {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 35px;
  }
  .border_subheader {
    min-height: 0px;
    height: 30px;
    border-top: solid 3px #aaa;
  }
  .buttons_header .toolbar-background {
    background-color: #e9eaee;
  }
  .segment-button {
    overflow: visible !important;
  }
  .ion-md-arrow-up {
    font-weight: bolder;
  }
  .button-clear-md {
    color: #777777 !important;
  }
  .button-clear-md:focus {
    color: #00a2ed !important;
  }
  .toolbar-md-light .toolbar-background-md {
    background: #fff;
  }
  .text-input-md {
    font-size: small;
  }
  .fixed-content,
  .scroll-content,
  .card-md,
  .card-md .item-md {
    background-color: #fafafa;
  }
  .item-md.item-block .item-inner {
    border-bottom: 0 !important;
  } // CLASES //
  .botao_local {
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 60%;
    line-height: 2em;
    border-radius: 0.25em;
    background-color: white;
    color: #00a2ed;
    font-weight: 700;
    border: 1px solid lightgrey;
  }
  .botao-opts {
    background-color: #fafafa;
  }
  .botao-opts .icon {
    position: absolute;
    right: 32px;
    top: 16px;
    font-size: 32px;
  }
  .item-range-range {
    height: 24px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 50%, #e9eaee 50%);
    min-height: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .item-range-range .item-inner {
    padding: 0px !important;
  }
  .range-range {
    top: -5px;
    padding: 0px !important;
  }
  .range-range .range-slider {
    margin: 0 7% 0 23% !important;
  }
  .range-range .range-slider .range-bar {
    height: 5px;
    background-color: #7f7f7f;
    width: 100vw;
    left: -33%;
  }
  .range-range .range-slider .range-bar.range-bar-active {
    background-color: #00a2e8;
    width: initial;
  }
  .range-range .range-slider .range-knob-handle {
    top: 22px !important;
  }
  .range-range .range-slider .range-knob-handle .range-knob {
    background-color: #0087c1;
    border: 5px solid #00a2e8;
  }
  .btn-TopOrNews {
    padding: 0px;
    box-shadow: none;
    color: #00a2e8;
    width: 14.3%;
    background-color: #e9eaee;
  }
  .btn-TopOrNews:hover {
    background-color: #e9eaee !important;
  }
  .item-post-range {
    margin-top: -2%;
    height: 24px;
    background: #7f7f7f;
    min-height: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .item-post-range .item-inner {
    padding: 0px !important;
  }
  .post-range {
    padding: 0px !important;
  }
  .post-range .range-slider {
    margin: 0 10% 0 10% !important;
  }
  .post-range .range-slider .range-bar {
    height: 5px;
    background-color: #7f7f7f;
    width: 200%;
    left: -33%;
  }
  .post-range .range-slider .range-bar.range-bar-active {
    background-color: #00a2e8;
    width: initial;
  }
  .post-range .range-slider .range-knob-handle {
    top: 22px !important;
  }
  .post-range .range-slider .range-knob-handle .range-knob {
    background-color: #0087c1;
    border: 5px solid #00a2e8;
  }
  .btn-star {
    height: 2rem;
    border: 0;
    padding: 0;
    width: 20%;
    margin-right: -2.5%;
    background-color: #fafafa;
  }
  .icon-star {
    font-size: 2rem;
    line-height: 2rem;
    height: 2rem;
    color: #7f7f7f;
  }
  .scroll-Images .scroll-content {
    margin-right: 5px;
  }
  .titulo-recentes .toolbar-title-md {
    padding-left: 5px;
    color: #7f7f7f;
    font-size: 1.6rem;
  }
  .imagem-recentes {
    display: block;
    width: 25vw;
    margin: 0 1%;
    height: 25vw;
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid #7f7f7f;
  }
  #notification-button {            
    position: relative;
    width: 42px;
    top:1px;
    right: 1px;
    overflow: visible!important;
  }
  #notifications-badge {
      position: absolute;
      top: 0px;
      right: 0px;
      border-radius: 100%;
      padding-top: 3px;
      width: 20px;
      height: 20px;
      text-align: center;
  }
  .button-more {
    display: block;
    position: absolute;
    right: 10px;
    top: 5px;
  }
  .label-md {
    margin: 0;
  }
  .item-md ion-avatar{
    margin: 0 16px 0 0 !important;
  }
  .buttons_header{
    padding-top: 0;
    padding-bottom: 0;
  }
  .segment-button img{
    width: 60%;
    height: auto;
    margin-top: 5px;
    text-align: center;

  }
  .range-range .range-slider{
    margin-top: -10px !important;
    height: 26px; 
  }
  .item-range-range{
    height: 12px;
  }
  .card-md h3, .card-md h4, .card-md h5, .card-md h6{
    text-align: center;
    padding: 20px 10px;
  }
}
