<!--
  Generated tem late for the FeedPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>


  <ion-toolbar color="dark">

    <ion-title>
    </ion-title>
    <button ion-button icon-only class="logofofa" (click)="goPerfil()">
      <img class="imageUserFeed" src="assets/imgs/logo-inicial.png">
    </button>
    <ion-buttons end>
      <button ion-button icon-only (click)="goPesquisar(userId)">
        <img class="imageUserFeed" src="assets/imgs/pesquisa.png" style="height: 45px;">
      </button>
      <button id="notification-button" ion-button clear (click)="goNotif()">
        <ion-icon name="notifications">
          <ion-badge *ngIf="notificacoes_qts != 0" id="notifications-badge" color="primary">{{ notificacoes_qts }}</ion-badge>
        </ion-icon>
      </button>
      <button ion-button icon-only (click)="goPerfil(perfilId)">
        <img class="imageUserFeed" src="assets/imgs/user_round.png">
      </button>
    </ion-buttons>

  </ion-toolbar>


  <ion-toolbar class="buttons_header">

    <ion-segment [(ngModel)]="local" color="primary" item-end>

      <!--<button ion-button class="btn-TopOrNews" (click)="alterarTopNews($event)">
        <img style="margin-top: 10px;" src="assets/imgs/opts.png">
      </button>-->

      <ion-segment-button value="proximidade" style="margin: 1px; padding-top: 4px; padding-left: 9px;" (ionSelect)="alterarLocal('proximidade')">
        <img *ngIf="local == 'proximidade'" src="assets/imgs/local_round_blue.png">
        <img *ngIf="local != 'proximidade'" src="assets/imgs/local_round_black.png">
      </ion-segment-button>
      <ion-segment-button value="amigos" (ionSelect)="alterarLocal('amigos')">
        <ion-icon name="contacts" style="padding-top: 0px;"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="bairro" (ionSelect)="alterarLocal('bairro')">
        <p style="margin-top: 2px;">Bairro</p>
      </ion-segment-button>
      <ion-segment-button value="cidade" (ionSelect)="alterarLocal('cidade')">
        <p style="margin-top: 2px;">Cidade</p>
      </ion-segment-button>
      <ion-segment-button value="estado" (ionSelect)="alterarLocal('estado')">
        <p style="margin-top: 2px;">Estado</p>
      </ion-segment-button>
      <ion-segment-button value="pais" (ionSelect)="alterarLocal('pais')">
        <p style="margin-top: 2px;">País</p>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <ion-item class="item-range-range" *ngIf="!platform.is('ios')" no-lines>
    <ion-range class="range-range" min="0" max="1000" step="0" (ionChange)="alterarLocal('range')" [(ngModel)]="range"></ion-range>
  </ion-item>


  <!-- <ion-toolbar class="border_subheader">
    <ion-buttons item-start>
      <button *ngIf="btnNews" ion-button style="margin-left: -8px;box-shadow: none; color: blue;">
          News
        </button>
        <button *ngIf="btnTop" ion-button style="margin-left: -8px;box-shadow: none;">
        News
      </button>
    </ion-buttons>
  </ion-toolbar> -->

  <ion-toolbar id="sendbar" color="light" style="height: 45px; min-height: 0px;" (click)="goImage()">
    <ion-item>
      <p>O que gostaria de informar ?</p>
      <ion-avatar item-start *ngIf="getSrc(foto_usuario)">
        <img [src]="getSrc(foto_usuario)">
      </ion-avatar>
    </ion-item>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="ios-phone-portrait"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content #contentRef (ionScroll)="scrollingFun($event)">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Puxe para Recarregar" refreshingSpinner="crescent" refreshingText="Recarregando...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-segment class="TopOrNewsContainer" *ngIf="local == 'amigos' || local == 'bairro'" [(ngModel)]="topOrNews" color="primary">
    <ion-segment-button class="TopOrNewsButton" value="News" (ionSelect)="alterarTopNews()"(click)="showRadio();" *ngIf="buttonId == 'News'">
        <ion-icon class="clok" name="ios-time-outline"></ion-icon>
      News
    </ion-segment-button>
    <ion-segment-button *ngIf="buttonId == 'Top' " class="TopOrNewsButton" value="Top" (click)="showRadio()" (ionSelect)="alterarTopNews()">
      <ion-icon class="TopOrNewsButtonIcon" name="ios-star-outline"></ion-icon>
      Top
    </ion-segment-button>
  </ion-segment>
  <ion-card *ngFor="let item of feed" style="width: 100%; margin: 10px 0;">
    <ion-item>
      <ion-avatar item-start *ngIf="getSrc(item.user_image)">
        <img [src]="getSrc(item.user_image)" (click)="PerfilPage(item.id)">
      </ion-avatar>
      <P *ngIf="item.pai == 0" style="white-space: initial; max-width: 80%;">
        <b>{{ item.nome }}</b>
        <span *ngIf="item.local != null" (click)="navigate(item.lat, item.lng)"> está em
          <b>
            <ion-icon name="ios-pin" style="font-size: 1.5em"></ion-icon> {{ item.local }}</b>
        </span>
      </P>
      <P *ngIf="item.pai != 0" style="white-space: initial; max-width: 80%;">
        <b style="display: block;">{{ item.nome }}
          <span style="color: blue;"> Compartilhou:</span>
        </b>
        <b>{{ item.nome_pai }}</b>
        <span *ngIf="item.local != null" (click)="navigate(item.lat, item.lng)"> está em
          <b>
            <ion-icon name="ios-pin" style="font-size: 1.5em"></ion-icon> {{ item.local }}</b>
        </span>
      </P>
      <p>{{ item.atras }}</p>
      <button class="button-more" ion-button icon-only clear (click)="opts($event, item)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-item>
    <ion-card-content style="padding: 0">
      <p style="padding: 5px 10px;">{{ item.texto }}</p>
    </ion-card-content>

    <div style="overflow: hidden; max-height: 500px;" class="img_card" *ngIf="item.tipo == 1">
      <ion-row>
        <ion-col *ngFor="let imagem of item.imagem" style="min-width: 50%">
          <ion-item *ngIf="item.hasImage == true && item.imagem.length > 1" [style.background-image]="getBackground(imagem.img_name)"
            style="background-size: cover; background-position-y: center; height: 200px; width: 100%; min-width: 45%;" (click)="ampliarImagem(imagem.img_name, item.texto)"></ion-item>
          <ion-item *ngIf="item.hasImage == true && item.imagem.length <= 1" [style.background-image]="getBackground(imagem.img_name)"
            style="height: 340px; background-size: cover; background-position-y: center; height: 400pv; width: 100%; min-width: 45%;"
            (click)="ampliarImagem(imagem.img_name, item.texto)"></ion-item>
        </ion-col>
      </ion-row>
    </div>

    <div *ngIf='item.tipo == 2 && item.video'>
      <div style="width: 100%;height: auto;">
        <video width="100%" height="auto" controls [autoplay]="true" [muted]="true" playsinline looped preload="auto">
          <source src="http://13.58.158.77/app/uploads/{{ item.video }}" type="video/mp4">
        </video>
        <!-- <video src="http://13.58.158.77/app/uploads/{{ item.video }}" alt="" width="100%" height="100%" controls></video> -->
      </div>
    </div>

    <div style="overflow: hidden; max-height: 700px;" class="img_card" *ngIf="item.tipo == 3">
      <div *ngIf='item.link'>
        <!-- <iframe [src]='sanitizer.bypassSecurityTrustResourceUrl(item.link)' width="100%" height="auto" scrolling="NO" frameborder="0"></iframe> -->
        <h5 (click)="openBrowser('http://'+item.link)">
          {{ item.link }}</h5>
      </div>
    </div>


    <ion-col col-7>
      <button style="padding: 0; float: left; color: #ffc90e !important;" (click)="comments( item.id_anuncio )" ion-button icon-left
        clear small>
        <ion-icon name="md-star"></ion-icon>
        {{ item.qtd }}
      </button>
      <button style="padding: 0; float: left; left: 90px;" (click)="comments( item.id_anuncio )" ion-button icon-left clear small>
        <ion-icon name=""></ion-icon>
        Comentários
      </button>
      <button style="padding: 0; float: right;" (click)="navigate(item.lat, item.lng)" ion-button icon-left clear small>
        <ion-badge item-end>{{ item.distance }} {{ item.unit }}</ion-badge>
      </button>
    </ion-col>
    <ion-row style="width: 100%;">

      <ion-col col-5 *ngIf="userId == item.id">
        <a class="texto-excluir" *ngIf="userId == item.id" (click)="deleteAnuncio(item)">Excluir</a>
      </ion-col>

      <ion-col *ngIf="userId != item.id">
        <button class="btn-star">
          <ion-icon class="icon-star" name="md-star" value="1" [ngStyle]="{'color': item.qtd >= 1 ? '#ffc90e' : '#7f7f7f'}"></ion-icon>
        </button>
        <button class="btn-star">
          <ion-icon class="icon-star" name="md-star" value="2" [ngStyle]="{'color': item.qtd >= 2 ? '#ffc90e' : '#7f7f7f'}"></ion-icon>
        </button>
        <button class="btn-star">
          <ion-icon class="icon-star" name="md-star" value="3" [ngStyle]="{'color': item.qtd >= 3 ? '#ffc90e' : '#7f7f7f'}"></ion-icon>
        </button>
        <button class="btn-star">
          <ion-icon class="icon-star" name="md-star" value="4" [ngStyle]="{'color': item.qtd >= 4 ? '#ffc90e' : '#7f7f7f'}"></ion-icon>
        </button>
        <button class="btn-star">
          <ion-icon class="icon-star" name="md-star" value="5" [ngStyle]="{'color': item.qtd >= 5 ? '#ffc90e' : '#7f7f7f'}"></ion-icon>
        </button>
        <ion-item class="item-post-range" style="margin-top: -1%;">
          <ion-range class="post-range" min="1" max="5" step="1" [(ngModel)]="item.qtd" (ionChange)="enviarEstrelas(item.qtd, item.id_anuncio)"></ion-range>
        </ion-item>
      </ion-col>
      <button class="compartilhar" (click)="compartilhar(item.id_anuncio)"*ngIf="userId != item.id">
        <img class="imageUserFeed" src="assets/imgs/pessoas_preto.png">
      </button>



    </ion-row>

    <ion-title class="titulo-recentes" *ngIf="item.hasImage == false && item.local && item.imagem">Recentes nesse local:</ion-title>
    <ion-scroll class="scroll-Images" *ngIf="item.hasImage == false && item.local && item.imagem" scrollX="true" style="width:100%; height:25vw; margin-bottom: 5px;">
      <ion-row nowrap>
        <img class="imagem-recentes" *ngFor="let image of item.imagem" (click)="ampliarImagem(image)" [src]="getSrc(image)">
      </ion-row>
    </ion-scroll>

  </ion-card>

  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingText="Carregando...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>