page-marcas-ar-condicionado {
    .toolbar-md-dark .toolbar-background-md {
        background: linear-gradient(45deg, rgba(55, 197, 233, 1) 0%, rgba(73, 125, 190, 1) 100%);
    }
    .button-md{
        width: 150px;
        height: 150px;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
