// http://ionicframework.com/docs/theming/

.popover-denuncia .popover-content {
    top: 187px!important;
    right: 30px!important;
    left: initial!important;
}
.popover-top .popover-content {
    width: 150px;
    top: 91px!important;
    left: 7px!important;
}
.popover-about .popover-content {
    top: 140px!important;
    left: 90px!important;
}
.popover-notificacoes .popover-content {
    max-height: 50vh!important;
    width: 75vw;
    right: 5vw!important;
    top: 50px!important;
    left: initial!important;
}
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.