// http://ionicframework.com/docs/theming/

.popover-denuncia .popover-content {
  top: 40px !important;
  right: 10px !important;
  left: initial !important;
  width: 160px;
  text-align: center;
}
ion-modal{
  background-color: transparent;
}
.md .modal-wrapper{
  margin-top: 28%;
}
page-publicar .list-md{
  margin: -7px -16px 8px !important;
}
.popover-top .popover-content {
    width: 150px;
    top: 91px!important;
    left: 7px!important;
}
.popover-about .popover-content {
    top: 140px!important;
    left: 90px!important;
}
.popover-notificacoes .popover-content {
    max-height: 50vh!important;
    width: 75vw;
    right: 15vw!important;
    top: 50px!important;
    left: initial!important;
}
.camelo .alert-wrapper h2{
    font-size: 16px;
    color: #00a2e8;
    font-weight: 600;
  }
.camelo .alert-message{
    background-image: url(../assets/imgs/pessoas.png);
    background-position: center;
    background-repeat: no-repeat;
    color: transparent;
    background-size: 50px;
    font-size: 9px;
  }
.camelo .alert-head{
    text-align: center;
    padding: 0px 0px 0px;
    margin-top: 6px;
  }

.camelo .alert-wrapper {
    border: solid 2px;
    border-color: #00a2e8;
    border-radius: 5px;
  }
  .camelo .alert-wrapper .alert-button-group{
    padding: 0px 0px 0px 0px;
    width: 284px;
  }
  .camelo .alert-wrapper .alert-button-group .alert-button{
    text-align: center;
    border-radius: 2px;
    position: relative;
    overflow: hidden;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    margin: 0 8px 0 0;
    padding: 12px;
    background-color: #00a2e8;
    border-color: #00a2e8;
    width: 135px;
    margin-right: 7px;
    height: 15px;
  }
  .camelo .alert-wrapper .alert-button-group .alert-button:hover{
    background-color: #99d9ea;
  }
  .camelo .alert-wrapper .alert-button-group .alert-button .button-inner{
    justify-content: center;
    margin-top: 2px;
  }
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.