
<ion-header>
  <ion-navbar color="transparent">
    <button ion-button style="position:  absolute;top: 0%;right:  0%;width: 85px;height:  40px;font-size: 40px;background: transparent;box-shadow: none;"(click)="presentPopover($event)" >
      <ion-icon name="ios-more"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>
  
  <ion-content padding class="pagetabs" style="height: 100%;" >
    <div [style.background-image]="getImage(cover)" style="background: linear-gradient(#39477291, #005396); display: flex; width: 100%; height: 91%;" class="cover">
      <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Puxe para Recarregar" refreshingSpinner="crescent" refreshingText="Recarregando...">
        </ion-refresher-content>
      </ion-refresher>
      <div style="width: 100%; margin-top: 70%;">
        <div>
          <button class="imagem_fundo" [style.background-image]="getImage(perfil_imagem)" style="margin-left: 0px;" (click)="alterarImagemPerfil()">
            
          </button>
          
          
          <div class="button-like">
              
              <button  ion-button small class="botao-seguindo"></button>
              <span class="bola"><img src="assets/imgs/local_round_blue2.png"></span>
              <button *ngIf="seguindo && perfilId != userId" ion-button small  (click)="seguir(perfilId, userId)" class="seguir">Seguindo</button>
              <button *ngIf="!seguindo" ion-button small  (click)="seguir(perfilId, userId)" class="seguir">Seguir</button>
              
            </div>
            <!-- <img src="assets/imgs/plug.png" class="botao-denunciar" (click)="presentPopover($event)"> -->
            
            <!-- <button ion-button icon-only class="botao-editar-nome" *ngIf="perfilId == userId && alteraNome == false" (click)="alterarNome()"><ion-icon name="brush"></ion-icon></button> -->
            <button *ngIf="perfilId == userId" ion-button style="position: absolute;right: 20%;width: 85px;height: 40px;background: transparent;box-shadow: none;top: 52%;"><img src="assets/imgs/edit.png" alt=""(click)="EditarperfilPage(perfilId)"></button>
            <button ion-button class="botao-editar-nome" *ngIf="perfilId == userId && alteraNome == true" (click)="setNovoNome(novoNome);">OK</button>
           <div style="margin-top: 10px;">
            <ion-list >
              <h3 class="nome_usuario" *ngIf="alteraNome == false">{{ perfil_nome }}</h3>
              <ion-item *ngIf="alteraNome == true" style="margin-top: -17px;">
                <ion-input class="altera-nome" [(ngModel)]="novoNome" type="text" placeholder="{{perfil_nome}}" *ngIf="alteraNome == true"></ion-input>
              </ion-item>
            </ion-list>
            <ion-list >
              <h4 class="nome_usuario" *ngIf="alteraNome == false">@{{ perfil_nome }}</h4>
              <ion-item *ngIf="alteraNome == true" style="margin-top: -17px;">
                <!-- <ion-input class="altera-nome" [(ngModel)]="novoNome" type="text" placeholder="{{perfil_nome}}" *ngIf="alteraNome == true"></ion-input> -->
              </ion-item>
            </ion-list>
          </div>
              
          </div>
          </div>
          
        </div>
        <ion-footer id="publicacoes" class="pagetabs" *ngIf="pageId == 'publicacoes'">
            <ion-item  style="height: 60px; ">
              <ion-row>
                <ion-col style="text-align: center " (click)="goPerfil(perfilId)">
                  {{ stat_anuncios }}<br>
                  Post
                </ion-col>
                <ion-col style="text-align: center" (click)="goStats('Seguidores', perfilId)">
                  {{ stat_seguidores }}<br>
                  Seguidores
                </ion-col>
                <ion-col style="text-align: center" (click)="goStats('Seguindo', perfilId)">
                  {{ stat_seguindo }}<br>
                  Seguindo
                </ion-col>
              </ion-row>
            </ion-item>
      </ion-footer> 
       
    <!-- <ion-infinite-scroll (ionInfinite)="loadMore($event)">
      <ion-infinite-scroll-content loadingText="Carregando...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll> -->
  </ion-content>
  