<!--
  Generated template for the PesquisarPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar color="dark" button-end>
      <button ion-button icon-only class="logofofa" (click)="goFeed()">
          <img class="imageUserFeed" src="assets/imgs/logo-inicial.png">
      </button>

      <ion-buttons end>
          <button ion-button icon-only>
            <img class="imageUserFeed" src="assets/imgs/pesquisa.png" style="height: 45px;">
          </button>
          <button id="notification-button" ion-button clear (click)="notificacoes($event)">
            <ion-icon name="notifications">
              <ion-badge *ngIf="notificacoes_qts != 0" id="notifications-badge" color="primary">{{ notificacoes_qts }}</ion-badge>
            </ion-icon>
          </button>
          <button ion-button icon-only (click)="prePerfilPage(userId)">
            <img class="imageUserFeed" src="assets/imgs/user_round.png">
          </button>
        </ion-buttons>
   
  </ion-toolbar>

</ion-header>


<ion-content padding>
      <ion-row style="border: 1px solid;">
        <ion-item style="width: 80%">
            <ion-input type="text" autocomplete="on" [(ngModel)]="nomePesquisa" placeholder="Pesquisar" (ngModelChange)="pesquisar(nomePesquisa)" style="color: black;"></ion-input>
          </ion-item>
          <button ion-button icon-only style="background: transparent; box-shadow: none; color: black">
            <ion-icon name="search">
              </ion-icon>
        </button>
      </ion-row>
    
    
  <ion-card *ngFor="let item of usuarios">
    <ion-item (click)="prePerfilPage(item.id)">
      <ion-avatar item-start *ngIf="getSrc(item.user_image)">
        <img  [src]="getSrc(item.user_image)">
      </ion-avatar>
      <P style="white-space: initial; max-width: 80%;">
        <b>{{ item.nome }}</b>
      </P>
      <p>
        {{item.email}}
      </p>
    </ion-item>
  </ion-card>

</ion-content>
