page-pesquisar {

    .logofofa{
        border: none;
        box-shadow: none;
        background: transparent;
    }
    .buttons_header {
        padding: 20px 0 19px 0;
    }
    img.imageLogoFeed {
        height: 50px;
        margin: 0 0 -4px -12px
    }
    img.imageUserFeed {
        height: 32px;
    }
    img.imageUserPes{
        height: 45px;
    }
    .toolbar-md-dark .toolbar-background-md {
        background: linear-gradient(to right, #73395c, #0a2386);
      }
      .card-md{
        box-shadow: none;
      }
      .item-md ion-avatar ion-img, .item-md ion-avatar img{
        width: 80px;
        height: 80px;
    
      }
      img.imageUserFeed {
        height: 40px;
      }
      .logofofa{
        border: none;
        box-shadow: none;
        background: transparent;
      }
      

}
