<ion-header>

    <ion-navbar color="dark">
      
      <ion-title>
        <img class="imageLogoFeed" src="assets/imgs/logo.png">
      </ion-title>
  
      <ion-buttons end>
        <button id="notification-button" ion-button clear (click)="notificacoes($event)">
          <ion-icon name="notifications">
            <ion-badge *ngIf="notificacoes_qts != 0" id="notifications-badge" color="primary">{{ notificacoes_qts }}</ion-badge>
          </ion-icon>
        </button>
        <button ion-button icon-only (click)="goPerfil()">
          <img class="imageUserFeed" src="assets/imgs/user_round.png">
        </button>
      </ion-buttons>
  
    </ion-navbar>
  </ion-header>


<ion-content padding>
    <div class="pagetabs">
        <h4>Hora de Trabalho</h4>
        <ion-list>
          <ion-item>
            <ion-label color="primary" stacked>Ganhos Mensais</ion-label>
            <ion-input type="number" placeholder="R$" (change)="sumGanhos(gMensais, hTrabalhadas)" [(ngModel)]="gMensais" ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label color="primary" stacked>Horas Trabalhadas</ion-label>
            <ion-input type="number" placeholder="" (change)="sumGanhos(gMensais, hTrabalhadas)" [(ngModel)]="hTrabalhadas"></ion-input>
          </ion-item>
        </ion-list>
          <h5>Ganhos por hora: R${{totalHoras}},00</h5>
          <br>
        <h4>Custos Fixos</h4>
        <ion-list>
          <br>
          <span>Novo Custo</span>
          <ion-item>
            <ion-label color="primary" stacked>Descrição</ion-label>
            <ion-input type="text" placeholder="" [(ngModel)]="nCustoDesc" ></ion-input>
          </ion-item>
          <ion-item>
              <ion-label color="primary" stacked>Valor</ion-label>
            <ion-input type="number" placeholder="R$" [(ngModel)]="nCustoValor" ></ion-input>
          </ion-item>
          <br>
          <button ion-button icon-end class="btnCadastrar" color="primary" (click)="addFixos(nome_cliente, email_cliente, doc, tel, address, tipoPessoa, fab)">
              Adicionar Custo          
              <ion-icon name="md-add" item-end ></ion-icon> 
            </button>
          </ion-list>
          <ion-list *ngIf="custosFixos">
              <ion-item *ngFor="let item of custosFixos;let i = index" id="s_{{item.i}}" style="height: 50px;" >  
                  <div item-content style="width: 100%;">
                    <div style="position: relative; float: left; width: 50%;">{{item.desc}} </div>
                    <div style="position: relative; float: right; width: 50%;"> R$ {{item.val}},00</div>
                  </div>
                  <button ion-buttom item-end icon-right (click) = "remFixos(item)" style="background: #aaa0">
                      <ion-icon name="md-trash"></ion-icon>
                    </button>
              </ion-item>
          </ion-list>
          <br>
          <h5>Total: R${{totalCustos}},00</h5>
          <h5 *ngIf="custosHora && custosHora != 'undefined'">Custos por hora: R${{custosHora}},00</h5>
        <!-- <ion-list radio-group [(ngModel)]="tipoPessoa">
          <ion-item>
            <ion-label>Pessoa Física</ion-label>
            <ion-radio value="cpf" checked></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Pessoa Jurídica</ion-label>
            <ion-radio value="cnpj" checked></ion-radio>
          </ion-item>
          </ion-list>
          <ion-list>
                <ion-item *ngIf="tipoPessoa == 'cpf'">
                  <ion-label color="primary" stacked>CPF</ion-label>
                  <ion-input type="number" placeholder="Insira o CPF" [(ngModel)]="doc"></ion-input>
                </ion-item>
                <ion-item *ngIf="tipoPessoa == 'cnpj'">
                  <ion-label color="primary" stacked>CNPJ</ion-label>
                  <ion-input type="number" placeholder="Insira o CNPJ" [(ngModel)]="doc" ></ion-input>
                </ion-item>
          </ion-list>
          <h5>Informações do cliente</h5>
          <ion-list>
            <ion-item>
              <ion-label color="primary" stacked>Telefone</ion-label>
              <ion-input type="tel" placeholder="Insira o telefone" [(ngModel)]="tel" ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label color="primary" stacked>Endereço</ion-label>
              <ion-input type="text" placeholder="Insira o endereço" [(ngModel)]="address"></ion-input>
            </ion-item>
        </ion-list>
        <ion-item>
            <ion-label color="danger" style="text-align: center;">{{ clienteMsg }}</ion-label>
          </ion-item>
        <button ion-button icon-end class="btnCadastrar" color="primary"(click)="setCliente(nome_cliente, email_cliente, doc, tel, address, tipoPessoa, fab)">
          Cadastrar Cliente          
          <ion-icon name="md-add" item-end ></ion-icon> 
        </button> -->
      </div>

</ion-content>
