<ion-header>

    <ion-navbar color="dark">
      
      <ion-title>
        <img class="imageLogoFeed" src="assets/imgs/logo.png">
      </ion-title>
  
      <ion-buttons end>
        <button id="notification-button" ion-button clear (click)="notificacoes($event)">
          <ion-icon name="notifications">
            <ion-badge *ngIf="notificacoes_qts != 0" id="notifications-badge" color="primary">{{ notificacoes_qts }}</ion-badge>
          </ion-icon>
        </button>
        <button ion-button icon-only (click)="goPerfil()">
          <img class="imageUserFeed" src="assets/imgs/user_round.png">
        </button>
      </ion-buttons>
  
    </ion-navbar>
        <ion-segment [(ngModel)]="local" color="primary" item-end>
          <ion-segment-button class="calcBtns" value="orcamentos" style="background-color: red;border-top:  none;border-right: solid 1px #fff;"(ionSelect)="alterarTab('calcHoras');">
            <ion-icon name="md-clock"></ion-icon> 
            Horas
          </ion-segment-button>
          <ion-segment-button class="calcBtns" value="clientes" style="background-color: green;border-top:  none;" (ionSelect)="alterarTab('calcPrecos');">
            <ion-icon name="logo-usd"></ion-icon> 
            Preços
          </ion-segment-button>
        </ion-segment>
  </ion-header>


<ion-content padding>
  <div class="pagetabs" id="horas_o" *ngIf="pageId == 'horas_o'">
    <button ion-button color="secondary" (click)="alterarTab('calcHoras')">
      Nova Tabela
    </button>
    <h4>Hora de Trabalho</h4>
      <ion-list>
        <ion-item>
          <ion-label color="primary">Ganhos Mensais</ion-label>
          <div item-content class="itemContent"> R${{gMensaisSalvo}},00</div>
        </ion-item>
        <ion-item>
          <ion-label color="primary">Horas Trabalhadas</ion-label>
          <div item-content class="itemContent"> R${{hTrabalhadasSalvo}},00</div>
        </ion-item>
      </ion-list>
        <h5>Ganhos por hora: R${{totalHorasSalvo}},00</h5>
        <br>
      <h4>Custos Fixos</h4>
      <ion-list *ngIf="custosFixos">
        <ion-item *ngFor="let item of custosFixosSalvo;let i = index" id="s_{{item.i}}" style="height: 50px;" >  
              <ion-label color="primary">{{item.desc}}</ion-label>
              <div item-content class="itemContent"> R$ {{item.val}},00</div>
        </ion-item>
    </ion-list>
        <ion-list>
            <ion-item>  
              <ion-label color="primary">Total</ion-label>
              <div item-content class="itemContent"> R${{custosFixosSalvoTotal}},00</div>
            </ion-item>
        </ion-list>
        <br>
        <h5 *ngIf="custosHoraSalvo && custosHoraSalvo != 'undefined'">Custos por hora: R${{custosHoraSalvo}},00</h5>
        <br>
        <h3 *ngIf="totalHoraCustoForaSalvo && totalHoraCustoForaSalvo != 'undefined'">Valor total da hora: R${{totalHoraCustoForaSalvo}},00</h3>

  </div>
    <div class="pagetabs" id="calcHoras" *ngIf="pageId == 'calcHoras'">
      
        <h4>Hora de Trabalho</h4>
        <ion-list>
          <ion-item>
            <ion-label color="primary" stacked>Ganhos Mensais</ion-label>
            <ion-input type="number" placeholder="R$" value="{{gMensais}}" (change)="sumGanhos(gMensais, hTrabalhadas)" [(ngModel)]="gMensais" ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label color="primary" stacked>Horas Trabalhadas</ion-label>
            <ion-input type="number" placeholder="" value = "{{hTrabalhadas}}" (change)="sumGanhos(gMensais, hTrabalhadas)" [(ngModel)]="hTrabalhadas"></ion-input>
          </ion-item>
        </ion-list>
          <h5>Ganhos por hora: R${{totalHoras}},00</h5>
          <br>
        <h4>Custos Fixos</h4>
        <ion-list>
          <br>
          <span>Novo Custo</span>
          <ion-item>
            <ion-label color="primary" stacked>Descrição</ion-label>
            <ion-input type="text" placeholder="" [(ngModel)]="nCustoDesc" ></ion-input>
          </ion-item>
          <ion-item>
              <ion-label color="primary" stacked>Valor</ion-label>
            <ion-input type="number" placeholder="R$" [(ngModel)]="nCustoValor" ></ion-input>
          </ion-item>
          <br>
          <button ion-button icon-end class="btnCadastrar" color="secondary" (click)="addFixos()">
              Adicionar Custo          
              <ion-icon name="md-add" item-end ></ion-icon> 
            </button>
          </ion-list>
          <ion-list *ngIf="custosFixos">
              <ion-item *ngFor="let item of custosFixos;let i = index" id="s_{{item.i}}" style="height: 50px;" >  
                  <div item-content style="width: 100%;">
                    <div style="position: relative; float: left; width: 50%;">{{item.desc}} </div>
                    <div style="position: relative; float: right; width: 50%;"> R$ {{item.val}},00</div>
                  </div>
                  <button ion-buttom item-end icon-right (click) = "remFixos(item)" style="background: #aaa0">
                      <ion-icon name="md-trash"></ion-icon>
                    </button>
              </ion-item>
          </ion-list>
          <br>
          <h5>Total: R${{totalCustos}},00</h5>
          <h5 *ngIf="custosHora && custosHora != 'undefined'">Custos por hora: R${{custosHora}},00</h5>
          <br>
          <h3 *ngIf="totalHoraCustoFora && totalHoraCustoFora != 'undefined'">Valor toatal da hora: R${{totalHoraCustoFora}},00</h3>
          <button ion-button icon-end class="btnSalvar" color = "red" (click)="salvarHoras()">Salvar</button>
    </div>
    
    <div class="pagetabs" id="calcPrecos" *ngIf="pageId == 'calcPrecos'">
      <h4>Insumos</h4>
      <ion-list>
        <br>
        <span>Novo Insumo</span>
        <ion-item>
          <ion-label color="primary" stacked>Descrição</ion-label>
          <ion-input type="text" placeholder="" [(ngModel)]="nInsumoDesc" ></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary" stacked>Valor</ion-label>
          <ion-input type="number" placeholder="R$" [(ngModel)]="nInsumoValor" ></ion-input>
        </ion-item>
        <br>
        <button ion-button icon-end class="btnCadastrar" color="secondary" (click)="addInsumos()">
            Adicionar Insumo          
            <ion-icon name="md-add" item-end ></ion-icon> 
          </button>
      </ion-list>
      <ion-list *ngIf="custosInsumos">
          <ion-item *ngFor="let item of custosInsumos;let i = index" id="s_{{item.i}}" style="height: 50px;" >  
              <div item-content style="width: 100%;">
                <div style="position: relative; float: left; width: 50%;">{{item.desc}} </div>
                <div style="position: relative; float: right; width: 50%;"> R$ {{item.val}},00</div>
              </div>
              <button ion-buttom item-end icon-right (click) = "remInsumos(item)" style="background: #aaa0">
                  <ion-icon name="md-trash"></ion-icon>
                </button>
          </ion-item>
      </ion-list>
      <br>
      <h5>Custo Insumos: R${{totalInsumos}},00</h5>
<!--**********************************************************************************************-->


    <h4>Custos Indiretos</h4>
      <ion-list>
      <br>
      <span>Novo Custo</span>
        <ion-item>
          <ion-label color="primary" stacked>Descrição</ion-label>
          <ion-input type="text" placeholder="" [(ngModel)]="nCustoIndDesc" ></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary" stacked>Valor</ion-label>
          <ion-input type="number" placeholder="R$" [(ngModel)]="nCustoIndValor" ></ion-input>
        </ion-item>
        <br>
        <button ion-button icon-end class="btnCadastrar" color="secondary" (click)="addIndiretos()">
            Adicionar custo          
            <ion-icon name="md-add" item-end ></ion-icon> 
          </button>
      </ion-list>
      <ion-list *ngIf="custosIndiretos">
          <ion-item *ngFor="let item of custosIndiretos;let i = index" id="s_{{item.i}}" style="height: 50px;" >  
              <div item-content style="width: 100%;">
                <div style="position: relative; float: left; width: 50%;">{{item.desc}} </div>
                <div style="position: relative; float: right; width: 50%;"> R$ {{item.val}},00</div>
              </div>
              <button ion-buttom item-end icon-right (click) = "remIndiretos(item)" style="background: #aaa0">
                  <ion-icon name="md-trash"></ion-icon>
                </button>
          </ion-item>
      </ion-list>
      <br>
      <h5>Custos Indiretos: R${{totalIndiretos}},00</h5>


<!--**************************************************************************************************-->
      
      <h4>Ajudantes</h4>
      <ion-list>
        <br>
        <span>Novo Ajudante</span>
        <ion-item>
          <ion-label color="primary" stacked>Nome</ion-label>
          <ion-input type="text" placeholder="" [(ngModel)]="nAjudanteDesc" ></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary" stacked>Custo</ion-label>
          <ion-input type="number" placeholder="R$" [(ngModel)]="nAjudanteValor" ></ion-input>
        </ion-item>
        <br>
        <button ion-button icon-end class="btnCadastrar" color="secondary" (click)="addAjudantes()">
            Adicionar Ajudante          
            <ion-icon name="md-add" item-end ></ion-icon> 
          </button>
      </ion-list>
      <ion-list *ngIf="custosAjudantes">
          <ion-item *ngFor="let item of custosAjudantes;let i = index" id="s_{{item.i}}" style="height: 50px;" >  
              <div item-content style="width: 100%;">
                <div style="position: relative; float: left; width: 50%;">{{item.desc}} </div>
                <div style="position: relative; float: right; width: 50%;"> R$ {{item.val}},00</div>
              </div>
              <button ion-buttom item-end icon-right (click) = "remAjudantes(item)" style="background: #aaa0">
                  <ion-icon name="md-trash"></ion-icon>
                </button>
          </ion-item>
      </ion-list>
      <br>
      <h5>Custo Ajudantes: R${{totalAjudantes}},00</h5>
      <br>
      <h4>Detalhes</h4>
      <ion-list>
        <br>
        <ion-item>
          <ion-label color="primary" stacked>Horas para execução</ion-label>
          <ion-input type="number" placeholder="" [(ngModel)]="hExecucao"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary" stacked>Imposto</ion-label>
            <ion-input type="number" placeholder="%" [(ngModel)]="imposto"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label color="primary" stacked>Lucro</ion-label>
          <ion-input type="number" placeholder="%" [(ngModel)]="lucro"></ion-input>
        </ion-item>
      </ion-list>
        <ion-item>
          <ion-label color="danger" style="text-align: center;">{{ calcMsg }}</ion-label>
        </ion-item>
        <!-- <h4>Preço Sugerido para o serviço: </h4>
          <h3>R${{precoSugerido}},00</h3> -->
        <ion-label color="danger" style="text-align: center;" *ngIf="mensagem">POR FAVOR PREENCHA TODOS OS CAMPOS!</ion-label>
       <button ion-button icon-end class="btnCadastrar" color="red"(click)="gerarRelatorio()">
        Gerar Relatório        
        <ion-icon name="md-archive" item-end ></ion-icon>
      </button>
    </div>
    <div class="pagetabs" id="relatGerado" *ngIf="pageId == 'relatGerado'">
        <h4>Relatório de preços</h4>
        <br>
        <div *ngIf="custosInsumos">
          <h5>Insumos:</h5>
          <br>
          <ion-list>
            <ion-item style="height: 75px;"  *ngFor="let item of custosInsumos;let i = index" id="s_{{item.id}}">
                <ion-label >{{item.desc}}</ion-label>
                <div item-content class="itemContent">
                  Valor: R${{item.val}},00
                </div>
              </ion-item>
              <ion-item style="height: 75px;" >
              <ion-label >Total:</ion-label>
              <div item-content class="itemContent">
                Valor: R${{totalInsumos}},00
              </div>
            </ion-item>
          </ion-list>
        </div>
        <br>
        <div *ngIf="custosInsumos">
          <h5>Custos Indiretos:</h5>
          <br>
          <ion-list>
            <ion-item style="height: 75px;"  *ngFor="let item of custosIndiretos;let i = index" id="s_{{item.id}}">
                <ion-label >{{item.desc}}</ion-label>
                <div item-content class="itemContent">
                  Valor: R${{item.val}},00
                </div>
              </ion-item>
              <ion-item style="height: 75px;" >
              <ion-label >Total:</ion-label>
              <div item-content class="itemContent">
                Valor: R${{totalIndiretos}},00
              </div>
            </ion-item>
          </ion-list>
        </div>
        <br>
        <div *ngIf="custosAjudantes">
        <h5>Ajudantes:</h5>
        <br>
        <ion-list>
          <ion-item style="height: 75px;"  *ngFor="let item of custosAjudantes;let i = index" id="s_{{item.id}}">
              <ion-label >{{item.desc}}</ion-label>
              <div item-content class="itemContent">
                 Valor: R${{item.val}},00
              </div>
            </ion-item>
            <ion-item style="height: 75px;" >
                <ion-label >Total:</ion-label>
                <div item-content class="itemContent">
                  Valor: R${{totalAjudantes}},00
                </div>
              </ion-item>
            </ion-list>
        </div>
        <br>
        <h5>Dados da Hora:</h5>
        <br>
        <ion-item style="height: 75px;">
          <ion-label >Ganhos por hora</ion-label>
          <div item-content class="itemContent">
            R${{totalHorasSalvo}},00
          </div>
        </ion-item>
        <ion-item style="height: 75px;">
          <ion-label >Custos por hora</ion-label>
          <div item-content class="itemContent">
            R${{custosHoraSalvo}},00
          </div>
        </ion-item>
        <ion-item style="height: 75px;">
          <ion-label >Valor total da hora</ion-label>
          <div item-content class="itemContent">
            R${{totalHoraCustoForaSalvo}},00
          </div>
        </ion-item>
        <br>
        <h5>Dados do serviço:</h5>
        <br>
        <ion-item style="height: 75px;">
          <ion-label >Horas</ion-label>
          <div item-content class="itemContent">
            {{hExecucao}} horas
          </div>
        </ion-item>
        <ion-item style="height: 75px;">
          <ion-label >Custos Totais:</ion-label>
          <div item-content class="itemContent">
            Valor: R${{custoTotalFinal}},00
          </div>
        </ion-item>
        <ion-item style="height: 75px;">
          <ion-label >Imposto à pagar</ion-label>
          <div item-content class="itemContent">
            Valor: R${{totalImposto}},00
          </div>
        </ion-item>
        <ion-item style="height: 75px;">
          <ion-label >Lucro estipulado</ion-label>
          <div item-content class="itemContent">
            Valor: R${{totalLucro}},00
          </div>
        </ion-item>
        <h3>Preço sugerido: R${{precoSugerido}},00</h3>

        <button ion-button id="gerarPdf" (click)="makePdf()">Gerar PDF</button>
      </div>

</ion-content>
