page-comments {
    .toolbar-md-dark .toolbar-background-md {
        background: linear-gradient(45deg, rgba(55, 197, 233, 1) 0%, rgba(73, 125, 190, 1) 100%);
    }

    .botao-trash {
        position: absolute;
        right: 5px;
        top: 5px;
    }


}
